{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to My Name!</h1>
    <p>Hello, welcome to my add a band page. </p>
    <style>
        input[type="text"], input[type="number"] {
            width: 300px;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
        }
        button {
            padding: 10px 15px;
            margin: 5px 0;
        }

        .rating {
            direction: rtl;
            unicode-bidi: bidi-override;
            display: inline-block;
        }
        .rating input {
            display: none;
        }
        .rating label {
            color: #ddd;
            font-size: 2em;
            cursor: pointer;
        }
        .rating input:checked ~ label,
        .rating label:hover,
        .rating label:hover ~ label {
            color: orange;
        }
    </style>

        <div class="container">
            <form action="/my_name" method="post">
                <input type="text" id="bandName" name="added_band" placeholder="Enter an artist" required>
                <br><br>
                <input type="text" id="favSong" name="favorite_song" placeholder="Enter your favorite song" required>
                <br><br>
                <input type="text" id="favAlbum" name="favorite_album" placeholder="Enter your favorite album" required>
                <br><br>
                <input type="number" id="rating" name="rating" min="1" max="5" placeholder="Submit a Rating (1-5):" required>
                <br><br>
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" required><label for="star5" class="fa fa-star"></label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" class="fa fa-star"></label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" class="fa fa-star"></label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" class="fa fa-star"></label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" class="fa fa-star"></label>
                </div>
                <br><br>
                <button type="submit">Submit</button>
                
            </form>
        </div>
{% endblock %}